
/*
 * Content styles 
 */
.projectDialogArea {
	-fx-spacing: 10px;
}

.projectItemList {
	-fx-padding: 15px;
}

.projecItem {
	-fx-border-color: #7b7b7b;
	-fx-border-width: 1px;
	-fx-border-radius: 6px;
	-fx-padding: 10px;
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, white 0%, #e9e9e9 100%);
	-fx-background-radius: 6px;
}

.projecItem.activeItem {
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #5d9ed5 0%, #0e4772 100%);
}

.projectInfoArea {
	-fx-padding: 0 10 0 10;
}

.projectTitle {
	-fx-font-weight: bold;
	-fx-font-size: 14pt;
	-fx-padding: 0 0 10 0;
}

.projecItem.activeItem .projectTitle {
	-fx-text-fill: white;
}

.projectDescription {
	-fx-text-fill: #7b7b7b;
	-fx-font-style: italic;
	-fx-font-size: 11pt;
}

.projecItem.activeItem .projectDescription {
	-fx-text-fill: #dddddd;
}

.breadcrumbContainer {
	-fx-border-color: #7b7b7b;
	-fx-border-width: 1px;
	-fx-border-radius: 6px;
	-fx-padding: 10px;
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #5d9ed5 0%, #0e4772 100%);
	-fx-background-radius: 6px;
}

.breadcrumbContainer > .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
}


.breadcrumbContainer > .label.link:hover {
	-fx-underline: true;
	-fx-cursor: hand;
}

.issueArea {
	-fx-border-color: #eee;
	-fx-border-width: 3px;
	-fx-border-radius: 6px;
	-fx-padding: 10px;
	-fx-background-color: #eee;
	-fx-background-radius: 6px;
}

.issueItem {
	-fx-border-color: #7b7b7b;
	-fx-border-width: 1px;
	-fx-border-radius: 6px;
	-fx-padding: 10px;
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, white 0%, #e9e9e9 100%);
	-fx-background-radius: 6px;
}

.issueItem > .actions {
	visibility: hidden;
}

.issueItem:hover > .actions {
	visibility: visible;
}

.issueInfoArea {
	-fx-padding: 0 10 0 10;
}

.issueTitle {
	-fx-font-weight: bold;
	-fx-font-size: 12pt;
	-fx-padding: 0 0 10 0;
}

.issueDescription {
	-fx-text-fill: #7b7b7b;
	-fx-font-style: italic;
	-fx-font-size: 9pt;
}

.issueStatus {
	-fx-border-width: 1px;
	-fx-border-radius: 2px;
	-fx-padding: 0 3 0 3;
	-fx-font-weight: bold;
	-fx-font-size: 8pt;
}

.issueStatus.new {
	-fx-border-color: #4a678555;
	-fx-text-fill: #4a6785;
	-fx-background-color: #4a678511;
}

.issueStatus.resolved {
	-fx-border-color: #2d954355;
	-fx-text-fill: #2d9543;
	-fx-background-color: #2d954311;
}

.issueStatus.open {
	-fx-border-color: #00000055;
	-fx-text-fill: #000000;
	-fx-background-color: #00000011;
}

.issueStatus.wontfix {
	-fx-border-color: #bf403855;
	-fx-text-fill: #bf4038;
	-fx-background-color: #bf403811;
}

.issueStatus.duplicate {
	-fx-border-color: #7a5c3855;
	-fx-text-fill: #7a5c38;
	-fx-background-color: #7a5c3811;
}

.issueStatus.onhold {
	-fx-border-color: #fbcf00;
	-fx-text-fill: #544400;
	-fx-background-color: #fbcf0011;
}


.task-accept {
	-fx-image: url("icons/16/task-accepted_inactive.png");
}

.task-complete {
	-fx-image: url("icons/16/task-complete_inactive.png");
}

.task-reject {
	-fx-image: url("icons/16/task-reject_inactive.png");
}

.task-assign {
	-fx-image: url("icons/16/task-assign_inactive.png");	
}

.task-accept:hover {
	-fx-image: url("icons/16/task-accepted.png");
}

.task-complete:hover {
	-fx-image: url("icons/16/task-complete.png");
}

.task-reject:hover {
	-fx-image: url("icons/16/task-reject.png");
}

.task-assign:hover {
	-fx-image: url("icons/16/task-assign.png");	
}